################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyApp/.vs/MyApp/v15
/MyApp/MyApp/obj
